{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block stylesheets %}
    <!-- Additional CSS for this page -->
{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
    <header class="header-2">
        <div class="page-header section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved11.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text-center mx-auto">
                        <h1 class="text-white pt-3 mt-n5">{{ object|yesno:"Update,Create" }} Redactor</h1>
                        <p class="lead text-white mt-3">{{ object|yesno:"Update information for existing redactor,Create a new redactor profile" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}
